<div class="bootstrap-iso">
        <div class="container-fluid">
            <div class="row">
                <form id="rating_form" action="/conversations/<%=@conversation.id%>/surveys" method="post">
                    <span class="rating">

                        <input type="radio" class="rating-input"
                    id="rating-input-1-5" name="rating-input-1"/>
                        <label for="rating-input-1-5" class="rating-star"></label>
                        
                        <input type="radio" class="rating-input"
                                id="rating-input-1-4" name="rating-input-1"/>
                        <label for="rating-input-1-4" class="rating-star"></label>
                        
                        <input type="radio" class="rating-input"
                                id="rating-input-1-3" name="rating-input-1"/>
                        <label for="rating-input-1-3" class="rating-star"></label>
                        
                        <input type="radio" class="rating-input"
                                id="rating-input-1-2" name="rating-input-1"/>
                        <label for="rating-input-1-2" class="rating-star"></label>
                        
                        <input type="radio" class="rating-input"
                                id="rating-input-1-1" name="rating-input-1"/>
                        <label for="rating-input-1-1" class="rating-star"></label>

                    </span>
                    <div class="form-group hidden" id="comment_section">
                        <label class="control-label small" for="rating_selected">
                        Please enter any comments you'd like to add about your conversation:
                        </label>
                        <textarea class="form-control" cols="10" id="rating_comment" name="comment_name" rows="5"></textarea>
                    </div>
                    <div class="form-group hidden" id="save_conversation_id">
                        <label class="control-label small" for="save_conversation">
                        Because of your low rating, may we temporarily save and anonymously review your conversation so as to ensure we may prevent this in the future?
                        </label>
                        <input type="checkbox" name="save_conversation" value="save_confirm">Yes
                        <input type="checkbox" name="save_conversation" value="save_deny">No
                    </div>
                    <button class="btn btn-primary " name="submit" type="submit">
                    Submit
                    </button>
                </form>
            </div>
        </div>
    </div>