<div class="alert alert-info col-md-10 col-md-offset-1 text-center">

<h1 style="color: black; padding: 15px;">
	Survivor Listing
</h1>

<!-- <div style="text-align: center; color: white;">
	Toggle button
	<input type="checkbox" checked data-toggle="toggle">
</div> -->
	
<div>

	<div style="margin: 10px;">
		<%= render  'conversations' %>
	</div>
	
	<div style="background: white; padding: 10px;">
		<%= render 'devise/menu/login_items' %>
	</div>
</div>

</div>