<% if current_user and can? :manage, current_user %>
	<div class="row">
		<div class="col-md-6">
			<%= render  'conversation_list' %>
		</div>
		<div class="col-md-6">
			<%= render  'user_list' %>
		</div>
	</div>
<% else %>
	<span>Sorry, you are not able to view this page</span>
<% end %>