/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require main.scss
 */
 
// html, body
//     height: 100%
//     background: -webkit-linear-gradient(#4A6D9D, #8DA4D1)
//     -webkit-font-smoothing: antialiased
//     text-rendering: optimizelegibility
    
@font-face 
    font-family: AvenirLight
    src: url("AvenirLTStd-Light.otf") format("opentype")

@font-face 
    font-family: AvenirBook
    src: url("AvenirLTStd-Book.otf") format("opentype")

@font-face 
    font-family: AvenirMedium
    src: url("AvenirLTStd-Medium.otf") format("opentype")

#actions
	align: center
	
    
.field
    color: black