// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar-custom
    background-color: none
    margin-top: 1.5em

.nav.navbar-nav.navbar-right li a 
    color: white

.nav.navbar-nav.navbar-right li a:hover
    color: black

#left-half
    width: 50%
    height: 50%
    float: left

#right-half 
    position: absolute
    top: 30%
    left: 50%
    color: white
    
#description
    position: relative
    transform: translateY(-30%)
    font-family: "AvenirLight", Georgia, Sans-Serif

#description-text
    padding-top: 1.6em
    padding-right: 1.5em
    padding-left: 1.5em
    font-weight: 100

#city
    position: absolute
    height: 300px
    top: 50%
    transform: translateX(-10%) translateY(-50%)
    left: 10%

#startButton
    color: blue

.btn
    margin-left: 1.5em
    // display:block
    // cursor: pointer
    width: 150px
    position: relative
    float: left
    color: black
    // transform: translateY(-50%) translateX(113%)

#logo 
    margin-top: 5px
    padding-left: 1em
    float: left
    position: relative
    transform: translateY(20%)
    padding-right: 1em